

html[dir="ltr"] .dropdown-menu-end.dropdown-menu-dir {
    right: 0 !important;
    left: auto !important;
    text-align: left;
}

/* Badge (cart counter) fix */
.cart-badge {
    top: 12px !important;
}
html[dir="ltr"] .cart-badge { left: 40px !important; right: auto !important; }


.dropdown-toggle::after {
    display: none !important;
}
